:root {
    --max-text-width: 60ch;
    --bg-color: #fafafa;
}

body {
  margin: 0;
  font-family: "Momo Trust Sans", sans-serif;
  background: var(--bg-color);
  color: #333;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0;

}

#app {
  width: 100%;
  max-width: 800px;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
}

.marker {
  border-radius: 100%;
  box-shadow: #333a 0px 0px 8px 3px;
  transition: transition 0.2s ease-in-out;
}

button {
  padding: .5rem 1.25rem;
  font-size: large;
  font-weight: lighter;
  text-transform: capitalize;
  border-radius: 3px;
  cursor: pointer;
  background-color: #0000;
  border: 1px solid black;
  position: relative;
  overflow: visible;
  z-index: 1;
  box-shadow: #f4c434 6px 6px 0px 0px;
  transition: all .15s ease-in-out;
}

button::before {
  content: "";
  position: absolute;
  inset: 0;
  left: 6px;
  top: 6px;
  border-radius: 3px;
  background-color: #f4c434;
  z-index: -1;
  cursor: pointer;
  transition: all .15s ease-in-out;

}

button:hover {
  box-shadow: #f4c434 0px 0px 0px 0px;
}

button:hover::before {
  top: 0px;
  left: 0px;
}

h2 {
  font-size: 2rem;
  margin: 1rem 0;
}

p {
  text-align: justify;
}